* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: GilroyBold;
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Gilroy, sans-serif;
    position: relative;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.header-container {
    background-color: #995bd9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #340734;
}

.logo {

}

.title-header {
    display: inline-block;
    font-size: 18px;
    max-width: 550px;
    text-align: center;
    color: #170450FF;
}

.btn {
    background-image: -moz-linear-gradient(90deg, rgb(23, 4, 80) 0%, rgb(151, 72, 215) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(23, 4, 80) 0%, rgb(151, 72, 215) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(23, 4, 80) 0%, rgb(151, 72, 215) 100%);
    border: 0;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    text-align: center;

    cursor: pointer;

    transition: 0.6s;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0 5px 9px 1px rgb(37, 18, 93);
}

.main-container {
    background-color: #b395d5;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.main-info {
    z-index: 5;
    display: grid;
    grid-template-columns: 400px 1fr;
    margin: 15px auto;
}

.main-info-img {
    padding: 10px 10px;
}

.main-info-img img {
    border-radius: 20px;
    border: 10px solid #340734;
    margin-left: 25px;
}

.main-info-img-p {
    font-size: 24px;
    color: #0d71b9;
    font-weight: bold;
    border-bottom: 2px solid #340734;
    border-top: 2px solid #340734;
    /*min-width: 320px;*/
    padding: 5px 0;
}

.main-info-img-span {
    font-size: 24px;
    color: #071034;
    display: inline-block;
    padding: 10px 0;
    font-weight: bold;
    max-width: 320px;
}

.main-info-experience {
    padding: 15px 0 15px 50px;
}

.main-info-experience-p {
    font-size: 24px;
    color: #0c0c0c;
    font-weight: bold;
    border-bottom: 2px solid #340734;
    border-top: 2px solid #340734;
    padding: 20px 0;
}

.main-info-experience-p a {
    text-decoration: none;
    cursor: pointer;
}

.main-info-experience-span {
    font-size: 24px;
    color: #8c0a2d;
    display: inline-block;
    padding: 10px 0;
    font-weight: bold;
}

.main-info-experience-paragraph {
    font-size: 22px;
    margin: 10px 0;
    border: solid 2px #8c0a2d;
    padding: 15px;
    border-radius: 10px;

}

.main-info-experience-paragraph p {
    font-weight: bold;
}

.main-info-experience-paragraph a {
    text-decoration: none;
    color: #0d71b9;
    cursor: pointer;
    font-weight: bold;
}

.main-info-experience-paragraph a:hover {
    color: #4b0505;
}

.main-text {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 26px;
    border-bottom: 2px solid #340734;
    border-top: 2px solid #340734;
}

.main-blocks {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-block {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.main-block img {
    max-width: 200px;
    border-radius: 50%;
    padding: 20px;
}

.main-block span {
    max-width: 200px;
    text-align: center;
    display: block;
    color: #000000;
    font-weight: bold;
}


.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
    z-index: 10;
    overflow: auto;
}

.popup-bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    transform: translate(-50%, -50%) scale(0);
    background: url("../images/rb_fon.png") #3f0783 no-repeat;
    max-width: 610px;
    padding: 25px;
    margin: 30px auto;
    transition: 2s all;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.popup.active {
    transform: translate(0%, 0%) scale(1);
    transition: 1s all;
}


.img-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.price-service-title {
    text-align: center;
    padding: 10px;
    font-size: 26px;
    color: #21ccd2;
    border-radius: 15px;
    background: #250225;
    border: solid 3px #5b04f6;
    margin: 15px 0;
}

.price-service-p {
    font-size: 24px;
    padding-top: 5px;
    color: #21ccd2;
    line-height: 1.9;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.price-service-span {
    font-size: 20px;
    color: #f1f1f1;
    text-align: left;
    display: inline-block;
    border-bottom: solid 5px #5b04f6;
    padding-bottom: 10px;
}

.price-service h4 {
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    color: #8c2c2c;
    border-radius: 10px;
    border: solid 3px #8c2c2c;
}

@media screen and (max-width: 730px) {
    .header-container {
        flex-direction: column;
        padding-bottom: 15px;
    }

    .btn-header {
        margin: 5px;
    }

    .main-info {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 15px auto;
        text-align: center;
    }

    .main-info-experience {
        padding: 0;
    }

    .main-blocks {
        align-items: center;
    }

    .main-block {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 530px) {
    .main-block:last-child {
        padding-bottom: 25px;
    }
}

